.catalog {
  min-width: 320px;
  width: 100%;
}

.catalog__intro {
  position: relative;
  min-height: 179px;
  margin-bottom: 30px;
  background-color: $color-background-darken;

  @media (min-width: $tablet-width) {
    margin-top: -43px;
    margin-bottom: 75px;
    min-height: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -42px;
    min-height: 250px;
    margin-bottom: 132px;
  }
}

.catalog__inner {
  @media (min-width: $desktop-width) {
    padding: 0 50px;
    max-width: 1150px;
    margin-bottom: 57px;
  }
}

.catalog__title {
  @include reset;
  @include title (27px, 30px);
  padding: 73px 0 40px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include title (43px, 50px);
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    @include title (53px, 57px);
  }
}
