.categories {
  @include center;
  @include container;
  width: 100%;
  min-height: 285px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

.categories__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  font-family: opensans, Arial, sans-serif;
  
}

.categories__list {
  @include reset;
}
.categories__link {
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  font-family: opensans, Arial, sans-serif;
  color: #ffffff;
}

.categories__item {
  text-align: left;
  padding: 30px 30px;

  &:first-child {
    margin-top: 295px;
  }
}

.categories__item--subjects {
  background-color: #63d1bb;
  background-image: url("../../img/icon-interior.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
}

.categories__item--toys {
  background-color: #56c3b2;
  background-image: url("../../img/icon-toy.svg");
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
