.contacts {
  @include container;
  @include text (15px, 30px);
  color: $color-gray;
}

.contacts__title {
  @include title (18px, 30px);
  @include reset;
  color: $color-black;
  padding: 40px 30px;
}

.contacts__item {
  padding: 0 30px;
  display: flex;
}

.contacts__field {
  padding-right: 35px;
}

.contacts__link {
  @include reset;
  color: $color-grey;
}

.contacts__text {
  @include reset;
  padding-right: 30px;
}

.contacts__map {
  margin-bottom: 40px;
}
