.contacts {
  @include text (15px, 30px);
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 43px;
  color: $color-gray;

  @media (min-width: $tablet-width) {
    @include text (17px, 30px);
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin-bottom: 110px;
  }
}

.contacts__inner {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 68px;
    padding-bottom: 57px;
  }
}

.contacts__wrapper {
  padding-left: 30px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 51px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 44%;
    flex-direction: column;
    padding-left: 66px;
    padding-top: 40px;
  }
}

.contacts__title {
  @include title (18px, 30px);
  @include reset;
  padding-left: 29px;
  padding-top: 41px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    @include title (43px, 50px);
    position: relative;
    padding-right: 100px;
    padding-left: 46px;
    padding-top: 79px;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 62px;
      right: 49px;
      width: 50px;
      height: 85px;
    }
  }

  @media (min-width: $desktop-width) {
    @include title (53px, 57px);
    width: 100%;
    padding-left: 219px;
    padding-top: 75px;

    &::before {
      top: 67px;
      left: 115px;
    }
  }
}

.contacts__item {
  display: flex;
  padding: 25px 0 5px 0;

  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

.contacts__field {
  padding-right: 17px;
  min-width: 60px;
}

.contacts__link {
  position: relative;
  text-decoration: none;
  color: $color-gray;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $color-primary;

    @media (min-width: $tablet-width) {
      top: 28px;
    }
  }

  &:hover {
    color: $color-contacts-field;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 51px;
  }
}

.contacts__text {
  @include reset;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 225px;
  }
}

.contacts__map {
  position: relative;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 74px;
    right: 51px;
  }
}

.contacts__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact__pin {
  position: absolute;
  top: 41%;
  left: 50%;
  width: 67px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.contacts__btn {
  width: 240px;
  padding: 14px 9px;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    width: 210px;
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 225px;
  }
}
