.copyright {
  display: flex;
  justify-content: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 42%;
    padding: 0;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 27%;
  }
}

.copyright__text {
  @include title (19px, 18px);
  padding: 6px 21px 0 3px;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    padding-left: 105px;
  }
}

.copyright__link {
  width: 35px;
  height: 35px;
  fill: $color-primary;

  &:hover {
    fill: $color-contacts-field;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
