.copyright {
  display: flex;
  justify-content: center;
  padding: 20px;

  @media (min-width: $tablet-width) {
    width: 24%;
    padding: 0;
  }
}

.copyright__text {
  @include title (19px, 18px);
  padding: 6px 21px 0 3px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.copyright__link {
  width: 35px;
  height: 35px;
  fill: $color-primary;

  &:hover {
    fill: $color-contacts-field;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
