.features {
  @include container (320px);
  padding: 0 30px;
}

.features__title {
  @include title (25px, 30px);
}

.features__list {
  @include reset;
  padding-top: 30px;
}

.features__item {
  @include title (17px, 20px);
  padding: 50px 30px 40px 30px;
  background-repeat: no-repeat;
  background-position: 15% 0;

  &--eco {
    background-image: url("../../img/icon-feature-flower.svg");
  }

  &--style {
    background-image: url("../../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../../img/icon-feature-heart.svg");
  }

  &--manually {
    background-image: url("../../img/icon-feature-ball.svg");
  }

  &--manufacturer {
    background-image: url("../../img/icon-feature-rocket.svg");
  }

  &--delivery {
    background-image: url("../../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    @include container (668px);
    padding: 0 50px;
  }

  .features__title {
    @include title (43px, 50px);
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .features__item {
    @include title (20px, 22px);
    width: 50%;
    padding: 60px 0;

    &--eco,
    &--manually {
      order: -2;
    }

    &--style,
    &--manufacturer {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    @include container (700px);
    padding: 0 100px;
  }
}
