.features {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.features__inner {
  text-align: left;
  padding-top: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }
}

.features__title {
  @include reset;
  @include title (25px, 30px);

  @media (min-width: $tablet-width) {
    @include title (43px, 50px);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include title (53px, 57px);
    padding-left: 168px;
    text-align: left;
  }
}

.features__list {
  @include reset;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.features__item {
  @include title (17px, 20px);
  width: 100%;
  display: flex;
  flex-direction: column;

  &--style {
    padding-bottom: 6px;
  }

  @media (min-width: $tablet-width) {
    @include title (20px, 22px);
    width: 50%;
    padding: 14px 0;

    &--eco,
    &--manually {
      order: -2;
    }

    &--style,
    &--manufacturer {
      order: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 13px;
  }
}

.features__icon {
  padding-left: 5px;

  &--style {
    padding-left: 0;
    padding-bottom: 5px;
  }

  &--like {
    padding-bottom: 2px;
  }

  &--manufacturer {
    padding-left: 0;
    padding-bottom: 11px;
    padding-top: 5px;
  }

  @media (min-width: $tablet-width) {
    &--eco {
      padding-left: 9px;
    }

    &--manually {
      padding-top: 4px;
    }

    &--manufacturer {
      padding-bottom: 8px;
    }

    &--like {
      padding-top: 6px;
    }

    &--delivery {
      padding-bottom: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &--style {
      padding-top: 0;
      padding-left: 3px;
    }

    &--like {
      padding-left: 11px;
    }

    &--manufacturer {
      padding-bottom: 5px;
    }
  }
}

.features__text {
  padding: 18px 0 30px;
}
