.form-main {
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
}

.form-main__intro {
  position: relative;
  width: 100%;
  min-height: 180px;
  background-color: $color-background-darken;

  @media (min-width: $tablet-width) {
    margin-top: -42px;
    min-height: 232px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -43px;
    min-height: 253px;
    margin-bottom: 48px;
  }
}

.form-main__description {
  max-width: 1150px;
  margin: auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.form-main__slogan {
  @include reset;
  @include text (13px, 24px);
  padding-top: 18px;
  text-align: left;
  color: $color-gray;

  @media (min-width: $tablet-width) {
    @include text (17px, 30px);
    padding: 23px 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 176px 0 176px;
  }
}

.form-main__title {
  @include reset;
  @include title (27px, 30px);
  padding: 72px 0 40px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include title (43px, 50px);
    padding-top: 94px;
  }

  @media (min-width: $desktop-width) {
    @include title (53px, 57px);
  }
}
