.form-group {
  @include reset;
  border: none;

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 30px;
    padding-left: 60px;
  }
}

.form-group__inner {
  padding: 0 20px;
  margin: auto;
  max-width: 1150px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    display: flex;
    align-items: baseline;
  }
}

.form-group__wrapper {
  width: 100%;
}

.form-group__title {
  @include reset;
  @include title (17px, 16px);
  position: relative;
  text-align: left;
  text-transform: uppercase;
  color: $color-primary;
  margin-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 75%;
    height: 1px;
    background-color: $color-primary;
  }

  @media (min-width: $tablet-width) {
    width: 25%;

    &::after {
      display: none;
    }
  }
}

.form-group__item {
  @include title (17px, 18px);
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 20px 0 0 70px;
  margin-bottom: 20px;

  &--text {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    @include title (19px, 19px);

    &--gray {
      width: 36%;
    }
  }
}

.form-group__option {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
}

.form-group__field {
  @include text (17px, 18px);
  width: 100%;
  padding: 20px 0;
  color: $color-gray;

  &::placeholder {
    opacity: 0.3;
  }
}

.form-group--gray {
  @media (min-width: $tablet-width) {
    width: 100%;
    background-color: $color-background-darken;
  }
}

.form-group__field--gray {
  @media (min-width: $tablet-width) {
    background-color: $color-background-darken;
  }
}

.form-group__option input[type="checkbox"],
.form-group__option input[type="radio"] {
  display: none;
}

.form-group__option input[type="radio"] + label::before {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid $color-gray;
}

.form-group__option input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  bottom: -9px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid $color-gray;
}


.form-group__option input[type="radio"] + label:hover::before,
.form-group__option input[type="checkbox"] + label:hover::before {
  border-color: $color-primary;
}

.form-group__option input[type="radio"] + label:active::before,
.form-group__option input[type="checkbox"] + label:active::before {
  border-color: $input-active;
}

.form-group__option input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-primary;
}

.form-group__option input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  top: 16px;
  left: 16px;
  width: 10px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 2px solid $color-black;
  border-right: 2px solid $color-black;
}

.form-group__option input[type="text"] {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $color-black;
  outline: none;
}

.form-group__option input[type="text"]:hover {
  border-color: $color-primary;
}

.form-group__option input[type="text"]:active {
  border-bottom: 1px solid $color-primary;
}

.form-group__field[type="tel"],
.form-group__field[type="email"] {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $color-black;
  outline: none;
  margin-bottom: 30px;
}

.form-group__field[type="tel"]:hover,
.form-group__field[type="email"]:hover {
  border-color: $color-primary;
}

.form-group__field[type="tel"]:active,
.form-group__field[type="email"]:active {
  border-bottom: 1px solid $color-primary;
}

.form-group__field--text {
  border: 2px solid $color-black;
  box-sizing: border-box;
  outline: none;
  padding: 20px;

  &:hover {
    border-color: $color-primary;
  }

  &:active {
    border: 1px solid $color-primary;
  }
}

.form-group__fill {
  @include reset;
  @include text (14px, 16px);
  color: $color-gray;
  text-align: left;
  padding: 20px 20px;
}

.form-group__add {
  @include text (14px, 16px);
  color: $color-gray;
  max-width: 1150px;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
  }
}

.form-group__btn {
  width: 280px;
  background-color: $color-background-lighten;
  color: $color-gray;
  border: 2px solid $color-gray;
  cursor: pointer;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    width: 230px;
    order: -1;
    margin: 55px 0;
  }
}
