.form-main {
  @include center;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
}

.form-main__inner {
  @include center;
}

.form-main__intro {
  min-height: 250px;
  position: relative;
  background-color: $color-background-darken;
}

.form-main__description {
  max-width: 1150px;
  margin: auto;
}

.form-main__slogan {
  @include reset;
  @include text (13px, 24px);
  color: $color-gray;
  padding: 30px;
  text-align: left;
}


.form-main__title {
  @include reset;
  @include title (27px, 30px);
  padding-top: 100px;
}

@media (min-width: $tablet-width) {
  .form-main__title {
    @include title (43px, 50px);
  }

  .form-main__intro {
    margin-top: -34px;
  }

  .form-main__intro::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 11px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
  }

  .form-main__slogan {
    @include text (17px, 30px);
    margin-top: 80px;
    padding: 30px 50px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__slogan {
    padding: 0 175px;
  }

  .form-main__intro {
    margin-top: -59px;
  }
}
