.main-nav {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 320px;
}

.main-nav__inner {
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 79px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: 22px;
  right: 18px;
  display: block;
  width: 44px;
  height: 33px;
  background-color: $color-background-lighten;
  cursor: pointer;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 20px;
  height: 2px;
  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 22px;
  right: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 7px;
    width: 30px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width-only) {
  .site-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-background-lighten;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .site-list__logo {
    display: block;
  }

  .main-nav--nojs .site-list__item {
    position: static;
    display: block;
  }
}
