.modal {
  display: none;
  z-index: 5;
}

.modal__inner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  min-width: 320px;
  min-height: 340px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background-color: $color-background-lighten;
  border-top: 1px solid $gray-modal;
  box-shadow: 0 4px 10px 0 rgba($color-black, 0.25);
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 566px;
  }
}

.modal-show {
  display: block;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-background-lighten, 0.6);
}

.modal__title {
  @include reset;
  @include title (25px, 30px);
  padding: 30px 50px 22px 50px;
  text-transform: uppercase;
}

.modal__label {
  @include text (15px, 30px);
  color: $color-gray;
}

.modal-form {
  width: 100%;
  margin-top: 30px;
}

.modal-form__item {
  @include title (17px, 16px);
  display: inline-block;
  padding: 20px 30px;
  margin-left: 13px;
  border: 2px solid $gray--lighten;

  &--active {
    margin-left: 0;
  }
}

.modal-form input[type="radio"]:hover + label,
.modal-form input[type="radio"]:focus + label,
.modal-form input[type="radio"]:active + label,
.modal-form input[type="radio"]:checked:hover + label,
.modal-form input[type="radio"]:checked:focus + label,
.modal-form input[type="radio"]:checked:active + label {
  border: 2px solid $color-primary;
}

.modal-form input[type="radio"]:checked + label {
  border: 2px solid $color-primary;
}

.modal-form input[type="radio"]:disabled + label,
.modal-form input[type="radio"]:disabled:hover + label,
.modal-form input[type="radio"]:disabled:focus + label,
.modal-form input[type="radio"]:disabled:active + label {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal-form__btn {
  width: 260px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 15px;
  background-color: $color-primary;
  color: $color-background-lighten;
  border: none;
}
