.page-footer {
  background-color: $color-background-darken;
  width: 100%;
}

.page-footer__inner {
  @include container (320px);
  margin-top: 40px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    @include container (668px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }

  .page-footer__logo {
    display: block;

    &:hover {
      path {
        fill: $color-contacts-field;
      }
    }

    &:active {
      path {
        fill-opacity: 0.3;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
    @include container (1150px);
  }
}
