.page-footer {
  background-color: $color-background-darken;
  width: 100%;
}

.page-footer__inner {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    &:hover {
      path {
        fill: $color-contacts-field;
      }
    }

    &:active {
      path {
        fill-opacity: 0.3;
      }
    }
  }
}
