.product {
  @include reset;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.product__item {
  border: 1px solid $gray--lighten;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 4px 10px 0 $gray--lighten;
  }

  &:active {
    box-shadow: 0 4px 4px 0 $gray--lighten;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    margin-bottom: 46px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.product__description {
  padding: 0 27px;
}

.product__description-header {
  padding-top: 23px;
}

.product__name {
  @include reset;
  @include title (17px, 24px);

  @media (min-width: $tablet-width) {
    @include title (20px, 24px);
    padding: 0;
  }
}

.product__text {
  @include reset;
  @include text (13px, 30px);
  color: $color-gray;
  padding-bottom: 19px;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    @include text (15px, 30px);
  }
}

.product__image {
  @media (min-width: $tablet-width) {
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.product__description {
  @media (min-width: $tablet-width) {
    width: 50%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.product__description-header {
  @media (min-width: $tablet-width) {
    margin-bottom: 155px;
    border: none;
    padding-top: 27px;

    &--basket-toys {
      margin-bottom: 131px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 23px;
    margin-bottom: 18px;

    &--basket-toys {
      margin-bottom: -5px;
    }
  }
}

.product__description-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray--lighten;
  padding: 20px 0;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    padding-top: 24px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding: 0;
    padding-top: 23px;
    padding-left: 0;
    padding-bottom: 25px;
  }
}

.product__price {
  @include title (15px, 24px);

  @media (min-width: $tablet-width) {
    @include title (17px, 24px);
  }
}

.product__buy {
  @media (min-width: $tablet-width) {
    width: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 59px;
  }
}
