.product {
  @include reset;
  @include center;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 30px;
}

.product__item {
  border: 1px solid $gray--lighten;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 4px 10px 0 $gray--lighten;
  }

  &:active {
    box-shadow: 0 4px 4px 0 $gray--lighten;
  }
}

.product__name {
  @include reset;
  @include title (17px, 24px);
  padding: 20px;
}

.product__text {
  @include reset;
  @include text (13px, 30px);
  color: $color-gray;
  padding-bottom: 10px;
}

.product__description-footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $gray--lighten;
  padding: 20px;
  margin-bottom: 30px;
}

.product__price {
  @include title (15px, 24px);
}

@media (min-width: $tablet-width) {
  .product {
    padding: 0 50px;
  }

  .product__item {
    display: flex;
    margin-top: 85px;
    width: 100%;
  }

  .product__image {
    width: 50%;
  }

  .product__description {
    width: 50%;
    text-align: left;
  }

  .product__description-header {
    margin-bottom: 180px;
    border: none;
    padding-top: 30px;
  }

  .product__name {
    @include title (20px, 24px);
    padding: 0;
  }

  .product__text {
    @include text (15px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding: 0;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
  }

  .product__item {
    width: 30%;
    flex-direction: column;
  }

  .product__image {
    width: 100%;
  }

  .product__description {
    width: 100%;
  }

  .product__description-header {
    margin: 30px;

    &--basket-toys {
      margin-bottom: 5px;
    }
  }

  .product__description-footer {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 20px;
    margin: 30px;

    &--basket-toys {
      margin-top: 0;
    }
  }
}
