.production {
  max-width: 1150px;
  margin: 0 auto;
}

.production__inner {
  @include reset;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid $gray--lighten;
  margin: 0 30px;
  margin-bottom: 60px;

  &:hover {
    box-shadow: 0 4px 10px 0 $gray--lighten;
  }

  &:active {
    box-shadow: 0 4px 4px 0 $gray--lighten;
  }

  @media (min-width: $tablet-width) {
    margin: 0 50px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-height: 455px;
    padding-left: 700px;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 105px;
  }
}

.production__process {
  @include reset;
  @include title (17px, 24px);
  position: relative;
  text-align: left;
  padding: 26px 0;
  padding-left: 90px;

  &::after {
    content: url("../img/icon-video.svg");
    position: absolute;
    top: 30px;
    left: 34px;

    width: 35px;
    height: 35px;
  }

  @media (min-width: $tablet-width) {
    @include title (20px, 24px);
    padding-left: 106px;
    padding-top: 34px;

    &::after {
      left: 43px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding-top: 95px;
    padding-left: 0;
    padding-bottom: 0;

    &::after {
      left: 1px;
      top: 41px;
    }
  }
}

.production__video {
  position: relative;
  text-align: center;

  &::after {
    content: url("../img/icon-play.svg");
    position: absolute;
    top: 33px;
    left: 79px;

    width: 102px;
    height: 78px;
  }

  @media (min-width: $tablet-width) {
    order: -1;
    width: 100%;
    min-height: 455px;

    &::after {
      top: 41%;
      left: 42.5%;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    min-height: 455px;
    padding: 0;
  }
}

.production__description {
  @include reset;
  @include text (13px, 24px);
  color: $color-gray;
  text-align: left;
  padding: 22px 33px;

  @media (min-width: $tablet-width) {
    @include text (15px, 24px);
    padding: 10px 36px 42px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding-top: 19px;
  }
}

.production__btn {
  margin: 0 auto;
  width: 168px;
  padding: 14px 11px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 559px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 203px;
    margin-bottom: 41px;
  }
}
