.promo {
  position: relative;
  text-align: left;
  padding-bottom: 46px;
  margin-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    top: 99%;

    display: block;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 8px 0;
    background-size: 320px 7px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
    margin-bottom: 53px;

    &::after {
      top: 98%;
      height: 17px;

      background-position: 19px 0;
      background-size: 768px 17px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;

    &::after {
      width: 1050px;
      height: 23px;
      background-position: 24px 0;
      background-size: 1050px  23px;
      transform: translateX(5%);
    }
  }
}

.promo__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-height: 720px;
    max-width: 1150px;
  }
}

.promo__header {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 2;
  }
}

.promo__content {
  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 164px;
    padding-left: 174px;
    width: 35%;
  }
}

.promo__title {
  @include reset;
  @include title (25px, 30px);

  @media (min-width: $tablet-width) {
    @include title(43px, 50px);
    width: 85%;
  }

  @media (min-width: $desktop-width) {
    @include title(53px, 57px);
    padding-top: 12px;
    padding-left: 15px;
  }
}

.promo__label {
  @include reset;
  @include title(17px, 20px);
  padding-top: 5px;
  color: $color-primary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include title(17px, 17px);
    width: 13%;
    text-align: center;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    width: 10%;
    padding-top: 23px;
    padding-left: 30px;
  }
}

.promo__text {
  @include reset;
  @include text(15px, 24px);
  padding: 23px 10px 16px 0;
  color: $color-gray;

  @media (min-width: $tablet-width) {
    @include text(17px, 30px);
    padding-top: 50px;
  }
}

.promo__image {
  overflow: hidden;
  padding-top: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
  }
}

.promo__price {
  @include reset;
  @include title(17px, 24px);
  text-align: center;
  color: $color-gray;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    @include title(20px, 24px);
    padding-bottom: 32px;
  }
}

.promo__btn {
  padding: 14px 10px;
  margin: 0 auto;
  width: 236px;

  @media (min-width: $tablet-width) {
    width: 267px;
  }
}

.promo__footer {
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 67px;
    left: 48px;
  }

  @media (min-width: $desktop-width) {
    left: 176px;
    bottom: 29px;
  }
}
