.reviews {
  @include container (320px);
  padding: 0 30px;
}

.reviews__title {
  @include title (25px, 30px);
  @include reset;
  padding: 40px 30px;
}

.reviews__item {
  @include reset;
}

.reviews__text {
  @include reset;
  @include text (15px, 30px);
  color: $color-gray;
  padding-bottom: 20px;
}

.reviews__author-name {
  @include title (17px, 24px);
}

.reviews__author-nick {
  @include text (17px, 30px);
}

.reviews__toggles {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.reviews__btn-nav {
  @include reset;
  display: block;
  padding: 20px 79px;
  border: 1px solid $gray--lighten;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  &--back {
    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    @include container (668px);
    padding: 80px 50px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .reviews__title {
    @include title (43px, 50px);
    padding: 0;
    order: -2;
  }

  .reviews__footer {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .reviews__btn {
    width: 175px;
    order: -1;
    margin: 0;
  }

  .reviews__text {
    @include text (17px, 30px);
    padding-top: 60px;
  }

  .reviews__toggles {
    position: absolute;
    right: 0;
    bottom: -37px;
  }

  .reviews__btn-nav {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include container (1050px);
    padding: 0;
  }

  .reviews__title {
    @include title (53px, 57px);
  }

  .reviews__inner {
    padding: 80px 0 60px 175px;
  }

  .reviews__toggles {
    bottom: 20px;
  }
}
