.site-list {
  @include reset;
}

.site-list__item {
  padding: 10px;
}

.site-list__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-family: opensans, Arial, sans-serif;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
