.site-list {
  @include center;
  @include reset;
  width: 100%;
}

.site-list__item {
  border-bottom: 1px solid $gray--lighten;

  &--search {
    display: flex;
  }

  &--basket {
    display: flex;
  }
}

.site-list-item__promo {
  display: none;
}

.site-list__icon {
  position: absolute;
  top: 31px;
  left: 30px;
  fill: rgba($color-black, 0.3);
}

.site-list__link {
  @include title (17px, 24px);
  position: relative;
  display: block;
  text-align: left;
  text-decoration: none;
  color: $color-black;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;

  &:hover {
    color: rgba($color-black, 0.3);
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link:hover .site-list__icon, {
  fill: $color-primary;
}

.site-list__link--logo {
  text-align: center;
  padding-left: 0;
}

.site-list__intro {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .site-list__item {
    margin: 0;

    &--catalog {
      order: 1;
      width: 25%;
      border-bottom: none;
    }

    &--knitting {
      order: 1;
      width: 25%;
      border-bottom: none;
    }

    &--search {
      width: 13%;
      box-sizing: border-box;
      border-right: 1px solid $gray--lighten;
      border-left: 1px solid $gray--lighten;
    }

    &--basket {
      @include title (17px, 24px);
      flex-grow: 1;
    }
  }

  .site-list__link {
    @include title (15px, 24px);
    padding: 10px 0;
    text-align: left;

    &--search {
      font-size: 0;
    }

    &--basket {
      text-align: right;
    }
  }

  .site-list__logo {
    width: 48%;
  }

  .site-list__link--logo {
    text-align: left;
  }

  .site-list__intro {
    display: block;

    &--text {
      @include reset;
      @include text (15px, 24px);
      color: $color-gray;
      text-align: right;
      margin-top: -35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    border-bottom: none;


    &--catalog {
      order: -1;
      width: 18%;
      border-right: 1px solid $gray--lighten;
    }

    &--knitting {
      order: -1;
      width: 18%;
    }

    &--basket {
      width: 24%;
      flex-grow: 0;
    }
  }

  .site-list__link {
    @include title (17px, 24px);

    &--search {
      font-size: 0;
    }
  }

  .site-list__logo {
    width: 26%;
  }

  .site-list__link--logo {
    text-align: center;
  }

  .site-list-item__promo {
    display: flex;
    width: 18%;
    text-align: left;
  }
}
