.site-list {
  @include reset;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.site-list__item {
  border-bottom: 1px solid $gray--lighten;

  &--search {
    display: flex;
  }

  &--basket {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    padding-top: 10px;
    align-items: center;

    &--catalog {
      order: 1;
      width: 21.7%;
      padding-top: 5px;
      border-bottom: none;
    }

    &--knitting {
      order: 1;
      width: 25%;
      padding-left: 24px;
      padding-top: 5px;
      border-bottom: none;
    }

    &--search {
      width: 13%;
      border-right: 1px solid $gray--lighten;
      border-left: 1px solid $gray--lighten;
    }

    &--basket {
      @include title (17px, 24px);
      width: 38.6%;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    border-bottom: none;

    &--catalog {
      order: -1;
      width: 18%;
      border-right: 1px solid $gray--lighten;
    }

    &--knitting {
      order: -1;
      width: 18%;
      padding-left: 30px;
    }

    &--search {
      width: 8%;
    }

    &--basket {
      width: 25%;
      flex-grow: 0;
      justify-content: right;
    }
  }
}

.site-list__item:nth-child(n+8) {
  order: 2;
}

.site-list-item__promo {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    width: 18%;
    padding-top: 14px;
    text-align: left;

    &--sale {
      padding-left: 33px;
    }
  }
}

.site-list__intro {
  display: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;

    &--text {
      @include reset;
      @include text (15px, 24px);
      margin-top: -35px;
      padding: 0 50px;
      padding-top: 2px;
      color: $color-gray;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}

.site-list__link {
  @include title (17px, 24px);
  position: relative;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  color: $color-black;

  &--search {
    padding-left: 33px;
  }

  &--basket {
    padding-left: 33px;
  }

  &:hover,
  &:focus {
    color: rgba($color-black, 0.3);
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include title (15px, 24px);
    display: flex;
    width: 100%;
    padding: 13px 0 10px;
    text-align: left;

    &--search {
      font-size: 0;
    }

    &--basket {
      @include title (17px, 24px);
      text-align: right;
      padding-top: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    @include title (17px, 24px);

    &--search {
      font-size: 0;
    }

    &--promo {
      @include title (15px, 24px);
      padding-top: 2px;
    }
  }
}

.site-list__icon {
  margin-left: auto;
  margin-right: 20px;
  fill: rgba($color-black, 0.3);

  @media (min-width: $tablet-width) {
    margin-left: 27px;
    margin-right: 28px;

    &--search {
      margin-left: 31px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}

.site-list__link:hover .site-list__icon, {
  fill: $color-primary;
}

.site-list__logo {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    width: 27.5%;
  }
}

.site-list__logo img {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.site-list__link--logo {
  padding-left: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 41px;
    padding-top: 16px;
    padding-bottom: 0;
  }
}
