.social {
  @media (min-width: $tablet-width) {
    width: 40%;
  }
}

.social__list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 23px 39px;
  border-bottom: 1px solid $gray--lighten;

  @media (min-width: $tablet-width) {
    width: 185px;
    padding: 0;
    margin: auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.social__link {
  fill: $color-black;

  &:hover {
    fill: $color-contacts-field;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
