.table {
  @include text (15px, 20px);
  @include container (320px);
  color: $color-gray;
  border-collapse: collapse;
  width: 100%;
}

.table__row {
  border-bottom: 1px solid $gray--lighten;
}

.table__field {
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .table {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 165px;
  }
}
