.table {
  @include text (15px, 20px);
  color: $color-gray;
  border-collapse: collapse;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 18px 0 0 0;
  }
}

.table__row {
  border-bottom: 1px solid $gray--lighten;
}

.table__field {
  padding: 10px 0;
}

.table__value {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
