.table {
  @include text (15px, 20px);
  width: 100%;
  margin-top: 16px;
  box-sizing: border-box;
  color: $color-gray;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
  }
}

.table__row {
  border-bottom: 1px solid $gray--lighten;
}

.table__field {
  padding: 10px 0;

  @media (min-width: $desktop-width) {
    width: 27%;
  }
}

.table__value {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
