.btn {
  @include reset;
  @include title (17px, 20px);
  display: block;
  padding: 12px;
  text-align: center;
  text-transform: uppercase;
  color: $color-gray;
  border: 2px solid $color-gray;
  cursor: pointer;

  &:hover {
    color: $color-background-lighten;
    background-color: $color-gray;
  }

  &:active {
    background-color: $color-gray;
    color: rgba($color-background-lighten, 0.3);
  }
}
