.btn {
  @include reset;
  @include center;
  @include title (17px, 20px);
  display: block;
  padding: 10px;
  text-transform: uppercase;
  color: $color-grey;
  border: 2px solid $color-grey;
  cursor: pointer;

  &:hover {
    color: $color-background-lighten;
    background-color: $color-grey;
  }

  &:active {
    background-color: $color-grey;
    color: rgba($color-background-lighten, 0.3);
  }
}
