@mixin reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin title ($size, $height) {
  font-size: $size;
  line-height: $height;
  font-weight: 700;
}

@mixin text ($size, $height) {
  font-size: $size;
  line-height: $height;
  font-weight: 400;
}

@mixin image {
  width: 100%;
  height: auto;
}
