$font: "Open Sans", "Arial", sans-serif;

$color-background-lighten: #ffffff;
$color-background-darken: #f1f1f1;

$color-grey: #444444;
$gray--lighten: #ececec;
$color-black: #000000;

$color-primary: #63d1bb;
